<%- include('layouts/layout') %>
        <% if(errors !== 'none') { %>
            <% console.log(errors)%>
            <div class="err"><%= errors %></div>
        <% } %>
        <div class="login-container">
            <h2>Login</h2>
            <form action="/auth/login" method="post">
                <label for="email">email</label>
                <input type="text" id="email" name="email" value="<%= email %>"  required>
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="<%= password %>"  required>
                
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>