<%- include('layouts/layout') %>
        <div class="login-container">
            <h2>Login</h2>
            <form action="/auth/login" method="post">
                <label for="email">email</label>
                <input type="text" id="email" name="email" required>
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', event => {
            event.preventDefault();
            
            const formData = {
                email: document.querySelector('#email').value,
                password: document.querySelector('#password').value
            }
            fetch('/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            }).then( response =>  response.json())
              .then( jwtToken => {
                    localStorage.setItem('token', jwtToken.token);
              })
              .catch( err => {
                location = '/auth/login';
                console.log(err);
            });
        });
    </script>
</html> 