<%- include('layouts/layout') %>
        <div class="profile">
            <img src="" alt="">
            <form action="/user/profile" method="POST" enctype="multipart/form-data" accept="image/*">
                <label >Add Your Image</label>
                <input id="file" type="file" name="profile-img">
                <button type="submit">Upload image</button>
            </form>
        </div>
        <h2>Read Your all Blogs</h2>
        </div> 
    </body>
</html>