* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} 
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
#content {
    background: url('../images/istockphoto-1198931639-612x612.jpg') no-repeat center center fixed;
    opacity: 0.7;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#content h1{
    padding: 10px;
    font-weight: bolder;
    opacity: 1;
}